@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';

.neue{
    font-family: 'Neue Montreal';
}
*::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.animate-marquee{
    animation: marquee 7s linear infinite;
}
@keyframes marquee {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
